<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{zapatos.nombre}}</td>
            <td>{{zapatos.tipo}}</td>
            <td>{{zapatos.precio}}</td>
            <td>{{zapatos.stock}}</td>
        </tr>
        <tr>
            <td>Salomon</td>
            <td>Trekking</td>
            <td>$8.500</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Adidas</td>
            <td>Street</td>
            <td>$14.350</td>
            <td>18</td>
        </tr>
    </tbody>
</table>

<p>zapatos-list works!</p>
