<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let zapato of zapatos" [ngClass]="{'clearance': zapato.clearance}">
            <td  class="productPhoto"><img src="{{zapato.image}}" alt=""></td>
            <td>{{zapato.name}}</td>
            <td>{{zapato.type}}</td>
            <td>{{zapato.price | currency}}</td>
            <td><span class="badge bg-warning text-dark" *ngIf="zapato.stock==0">SIN STOCK</span> </td>
        </tr>
        
    </tbody>
</table>

<p>zapatos-list works!</p>
